.mr-4 {
  margin-right: 10px;
}

.text-small {
  font-size: smaller;
}

.max-small {
  max-width: 400px;
}

.mt-big {
  margin-top: 50px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grow-1 {
  flex-grow: 1;
}

.bold {
  font-weight: bold;
  color: rgb(80, 78, 78);
}

.red {
  color: orange;
}

.bg-orange {
  background-color: orangered;
}

.justify {
  justify-content: space-between;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .img-container {
    display: none;
  }
}
